
version: "3.8"

services:

  eureka-service:
    image: aryamancool/eureka_server:1.0
    container_name: eureka-service
    ports:
      - "8761:8761"

  account-service:
    image: aryamancool/account_service:1.0
    container_name: account-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-service

  transaction-service:
    image: aryamancool/transaction_service:1.0
    container_name: transaction-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-service

  notification-service:
    image: aryamancool/notification_service:1.0
    container_name: notification-service
    ports:
      - "8083:8083"
    depends_on:
      - eureka-service

  api-gateway:
    image: aryamancool/api_gateway:1.0
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-service
