# version: "3.8"

# services:

#   eureka-server:
#     build:
#       context: ./eureka-server
#     image: local/eureka-server:latest
#     container_name: eureka-server
#     ports:
#       - "8761:8761"
#     environment:
#       SERVER_PORT: 8761
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
#       interval: 10s
#       retries: 5

#   api-gateway:
#     build:
#       context: ./api-gateway
#     image: local/api-gateway:latest
#     container_name: api-gateway
#     depends_on:
#       - eureka-server
#     ports:
#       - "8080:8080"
#     environment:
#       SERVER_PORT: 8080
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
#       interval: 10s
#       retries: 5

#   account-service:
#     build:
#       context: ./account-service
#     image: local/account-service:latest
#     container_name: account-service
#     depends_on:
#       - eureka-server
#     ports:
#       - "8081:8081"
#     environment:
#       SERVER_PORT: 8081
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#       SPRING_DATA_MONGODB_URI: "mongodb+srv://saxenamanu07_db_user:Up382YnlOMNptYAd@cluster0.vkplnts.mongodb.net/JournalApp?retryWrites=true&w=majority"
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
#       interval: 10s
#       retries: 5

#   transaction-service:
#     build:
#       context: ./transaction-service
#     image: local/transaction-service:latest
#     container_name: transaction-service
#     depends_on:
#       - eureka-server
#       - account-service
#     ports:
#       - "8082:8082"
#     environment:
#       SERVER_PORT: 8082
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#       SPRING_DATA_MONGODB_URI: "mongodb+srv://saxenamanu07_db_user:Up382YnlOMNptYAd@cluster0.vkplnts.mongodb.net/JournalApp?retryWrites=true&w=majority"
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
#       interval: 10s
#       retries: 5

#   notification-service:
#     build:
#       context: ./notification-service
#     image: local/notification-service:latest
#     container_name: notification-service
#     depends_on:
#       - eureka-server
#     ports:
#       - "8083:8083"
#     environment:
#       SERVER_PORT: 8083
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
#       interval: 10s
#       retries: 5



version: "3.8"

services:

  eureka-server:
    image: aryamancool/eureka-server:1.0
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      SERVER_PORT: 8761
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      retries: 5

  api-gateway:
    image: aryamancool/api-gateway:1.0
    container_name: api-gateway
    depends_on:
      - eureka-server
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      retries: 5

  account-service:
    image: aryamancool/account-service:1.0
    container_name: account-service
    depends_on:
      - eureka-server
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      SPRING_DATA_MONGODB_URI: "mongodb+srv://saxenamanu07_db_user:Up382YnlOMNptYAd@cluster0.vkplnts.mongodb.net/JournalApp?retryWrites=true&w=majority"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      retries: 5

  transaction-service:
    image: aryamancool/transaction-service:1.0
    container_name: transaction-service
    depends_on:
      - eureka-server
      - account-service
    ports:
      - "8082:8082"
    environment:
      SERVER_PORT: 8082
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      SPRING_DATA_MONGODB_URI: "mongodb+srv://saxenamanu07_db_user:Up382YnlOMNptYAd@cluster0.vkplnts.mongodb.net/JournalApp?retryWrites=true&w=majority"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      retries: 5

  notification-service:
    image: aryamancool/notification-service:1.0
    container_name: notification-service
    depends_on:
      - eureka-server
    ports:
      - "8083:8083"
    environment:
      SERVER_PORT: 8083
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 10s
      retries: 5
